$text-dark: #333;
// $text-light: #ede3e4;
$text-light: #f4f4f4;
$primary-blue: #9ad0cd;
$dark-bg: #7e93a8;

// font sizes
$font-xsm: 0.75rem; //14px
$font-sm: 0.875rem; //14px
$font-md: 1.125rem; //18px
$font-lg: 1.5rem; //24px
