<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>Jack Drake | Welcome</title>
  </head>
  <body>

    <header id="header">
      <nav class="flex flex-row" id="main-nav">
          <div class="" style="margin-left: 0.5rem; display: flex; justify-content: center;align-items: center;">
            <img src="/images/Logo1.svg" alt="">
          </div>
        <!-- <div class="logo-sm" >
          <a href="">JD.</a>
        </div> -->

        <div class="links hide-for-mobile">
          <ul class="flex flex-row">
            <li><a href="#header">Home</a></li>
            <li><a href="#about-me">About</a></li>
            <li><a href="#academics">Experience</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects-sect">Projects</a></li>
          </ul>
        </div>

        <div class="hide-for-mobile">
          <a href="#contact-sect"><button class="btn btn-pop">Contact Me</button></a>
        </div>

        <div id="hiddenMenu" class="hidden-menu">
          <div class="menu-card">
            <ul>
              <li id="menu-links"><a href="#header">Home</a></li>
              <li id="menu-links"><a href="#about-me">About</a></li>
              <li id="menu-links"><a href="#academics">Experience</a></li>
              <li id="menu-links"><a href="#skills">Skills</a></li>
              <li id="menu-links"><a href="#projects-sect">Projects</a></li>
            </ul> 
          </div>    
        </div>

        <div id="hiddenSocials" class="hidden-socials">
          <a class="ai-c" href="https://github.com/jadrake95" target="_blank">
            <i class="fab fa-github-square social-icon"></i>
          </a>
        <a class="ai-c" href="https://www.linkedin.com/in/jackandrewdrake/" target="_blank">
          <i class="fab fa-linkedin social-icon"></i>
        </a>
        <a class="ai-c" href="mailto:jadrake95@gmail.com?subject=Website-Enquiry: [*Enter a Subject*]">
          <i class="fas fa-envelope-square social-icon"></i>
        </a>
        </div>

        <div class="hamburgerBtn hide-for-desktop ">
          <a href="#" id="hamburgerBtn" class="menu ">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
        

      
      </nav>
    </header>

    <div class="social-container">
      <div class="flex flex-col ai-c jc-c">
        <a href="https://github.com/jadrake95" target="_blank"
          ><i class="fab fa-github-square social-icon"></i
        ></a>
        <div class="social-line"></div>
        <a href="https://www.linkedin.com/in/jackandrewdrake/" target="_blank"
          ><i class="fab fa-linkedin social-icon"></i
        ></a>
        <div class="social-line"></div>
        <a href="mailto:jadrake95@gmail.com?subject=Website-Enquiry: [*Enter a Subject*]"
          ><i class="fas fa-envelope-square social-icon"></i
        ></a>
      </div>
    </div>

    <section class="hero">
      <div class="hero__bg">
        <div class="flex flex-col ai-c " id="hero-text">
          <div class="text-wrap ">
            <!-- <h2>My Name Is</h2> -->
            <h1>Jack Drake</h1>
            <h2>I am a <span style="text-decoration: underline #9ad0cd; ">Developer</span></h2>
            <a href="#about-me"><button class="btn btn-pop">Learn More</button></a>
          </div>  
        </div>
      </div>        
    </section>

    <section class="about-me" id="about-me">
      <div class="flex flex-row jc-c ai-c">
        <h2 class="section-title t-c">A Little About Me</h2>
      </div>
      <div class="container flex flex-row">
        <div class="flex flex-col jc-c ai-c about-me__photo mb-3">
          <div class="p-1">
            <img
              src="./images/profilePic.svg"
              alt="profile picture"
            />
          </div>
        </div>
          <div class="flex flex-col dark-card m-3 t-c about-me__info">
            <h3 class="">Jack Drake</h3>
            <p class="">
              A young professional with a passion for business growth and
              development. Highly motivated, with an abundance of experience in
              a variety of industries. Able to demonstrate exceptional
              communication skills within a professional environment.
            </p>
          </div>
      </div>
    </section>

    <section class="academics" id="academics">
      <div class="flex flex-row jc-c">
        <h2 class="section-title--dark t-c">Experience & Education</h2>
      </div>
      <div class="grid-container">
        <div class="page-container">
          <div class="card academics__experience">
            <h3 class="t-c">Experience</h3>
            
            <div class="mb-2">
              <h4 class="academic-title">Native English Teacher</h4>
              <p class="academic-details">Amity Corporation, Kanagawa Japan</p>
              <p class="academic-details" style="font-size: 0.8rem;"> 10/2018 - PRESENT</p>
              <ul class="academic-description">
                <li>Teach both group and private conversational English
                  lessons to students of all ages.</li>
                <li>Prepare students for English
                  proficiency tests such as TOEIC and EIKEN.</li>
                <li>Office work such as,
                  taking phone calls, scheduling lessons, replying to emails and
                  performing sales.</li>
              </ul>
            </div>

            <div class="mb-2">
              <h4 class="academic-title">Japanese Restaurant Supervisor</h4>
              <p class="academic-details">Okushiga Kogen Hotel, Nagano Japan </p>
              <p class="academic-details" style="font-size: 0.8rem;">12/2017 - 03/2018</p>
              <ul class="academic-description">
                <li>Manage stock, cash and equipment.</li>
                <li>Schedule
                  shifts for a team of 8 workers.</li>
                <li>Process bookings, complaints and
                  enquiries.</li>
              </ul>
            </div>

            <div class="mb-2">
              <h4 class="academic-title">Poultry Processor</h4>
              <p class="academic-details">Chandler McCleod, Newcastle Australia </p>
              <p class="academic-details" style="font-size: 0.8rem;">03/2017 - 11/2017</p>
              <ul class="academic-description">
                <li>Provide manual labor for the processing of poultry
                  products.</li>
              </ul>
            </div>

            <div class="mb-2">
              <h4 class="academic-title">Conversational English Language Teacher</h4>
              <p class="academic-details">Nagoya University of Foreign Studies, Japan </p>
              <p class="academic-details" style="font-size: 0.8rem;">02/2016 - 12/2016</p>
              <ul class="academic-description">
                <li> Assist local University students with their language learning needs.
                </li>
                <li>Provide an outlet for
                  daily conversation practice and answer questions regarding language learning.</li>
              </ul>
            </div>

            <div class="mb-2">
              <h4 class="academic-title">Customer Service Representative</h4>
              <p class="academic-details">Commonwealth Bank, Newcastle Australia </p>
              <p class="academic-details" style="font-size: 0.8rem;">01/2015 - 01/2016</p>
              <ul class="academic-description">
                <li>Respond to and complete everyday banking enquiries via phone and email.</li>
                <li>Process transfers, payments and refund requests.</li>
                <li>Assist customers with online banking issues and enquiries.</li>
              </ul>
            </div>
          </div>

            
          <div class="card academics__education">
            <h3 class="t-c">Education</h3>

            <div class="mb-2">
              <h4 class="academic-title">Bachelor of Business</h4>
              <p class="academic-details">University of Newcastle, Australia</p>
              <ul class="academic-description">
                <li>Major: Business Management.</li>
              </ul>
            </div>

            <div class="mb-2">
              <h4 class="academic-title">Bachelor of Commerce</h4>
              <p class="academic-details">University of Newcastle, Australia</p>
              <ul class="academic-description">
                <li>Major: Finance.</li>
              </ul>
            </div>

            <div class="mb-2">
              <h4 class="academic-title">Diploma in Languages</h4>
              <p class="academic-details">University of Newcastle, Australia</p>
              <ul class="academic-description">
                <li>Major: Japanese</li>
              </ul>
            </div>

            <div class="mb-2">
              <h4 class="academic-title">Study Abroad Program</h4>
              <p class="academic-details">Nagoya University of Foreign Studies, Japan</p>
              <ul class="academic-description">
                <li>University exchange program consisting of language, business and cultural studies</li>
              </ul>
            </div>
          </div>
            <div class="card academics__skills">
              <h3 class="t-c">Certificates</h3>
              <div class="mb-2">
                <h4 class="academic-title">Japanese Language Proficiency Test</h4>
                <p class="">JLPT-N2 / 日本語能力二級</p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="skills-grid" id="skills">
  <div class="flex flex-row jc-c">
    <h2 class="section-title">Technical Skills</h2>
  </div>
  <div class="grid-container">
    <div class="tech-grid">
      <div class="grid1"><img src="./images/html.svg" alt=""></div>
      <div class="grid2"><img src="./images/css.svg" alt=""></div>
      <div class="grid3"><img src="./images/javascript.svg" alt=""></div>
      <div class="grid4"><img src="./images/bootstrap.svg" alt=""></div>
      <div class="grid5"><img src="./images/sass.svg" alt=""></div>
      <div class="grid6"><img src="./images/mongodb.svg" alt=""></div>
      <div class="grid7"><img src="./images/express.svg" alt=""></div>
      <div class="grid8"><img src="./images/node.svg" alt=""></div>
    </div>
  </div>
    </section>

    <section class="projects-sect" id="projects-sect">
    <div class="flex flex-row jc-c">
      <h2 class="section-title--dark mb-3">My Projects</h2>
    </div>
    <div class="grid-container">
      <div class="projects-grid">
        <div class="project1">
            <div class="flex flex-col card jc-c ai-c">
              <h3 class="t-c">GamerNews Site</h3>
              <div class="flex jc-c img-cover">
                 <img
                  src="./images/GameNewsSite.png"
                  alt="img"
                  />
                 <img
                  src="./images/GameNewsSite2.png"
                  alt="img"
                  />
              </div>
              <p class="t-c" >
              A work in progress that will be available soon.   
              </p>
              <div class="buttons-container">
                <a href="https://gamer-news-site.herokuapp.com/" target="_blank" class="card-btn">Live Site</a>
                <a href="https://github.com/jadrake95/GamerNewsExpress" target="_blank" class="card-btn">Code Repo</a>
              </div>
          </div>
        </div>
      <div class="project2">
          <div class="flex flex-col card jc-c ai-c">
            <h3 class="t-c">Coming Soon</h3>
            <div class="flex jc-c img-cover">
              <img
                src="./images/Example Scenes/example-scene-1.svg"
                alt="img"
                />
            </div>
            <p class="t-c" >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, corrupti.   
            </p>
            <div class="buttons-container">
              <a class="card-btn">Live Site</a>
              <a class="card-btn">Code Repo</a>
            </div>
        </div>
      </div>
      <div class="project3">
          <div class="flex flex-col card jc-c ai-c">
              <h3 class="t-c">Coming Soon</h3>
            <div class="flex jc-c img-cover">
              <img
                src="./images/Example Scenes/example-scene-2.svg"
                alt="img"
              />
            </div>
            <p class="t-c" >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, corrupti.   
            </p>
            <div class="buttons-container">
              <a class="card-btn">Live Site</a>
              <a class="card-btn">Code Repo</a>
            </div>
        </div>
      </div>
      <div class="project4">
          <div class="flex flex-col card jc-c ai-c">
            <h3 class="t-c">Coming Soon</h3>
            <div class="flex jc-c img-cover">
              <img
                src="./images/Example Scenes/example-scene-3.svg"
                alt="img"
              />
            </div>
            <p class="t-c" >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, corrupti.   
            </p>
            <div class="buttons-container">
              <a class="card-btn">Live Site</a>
              <a class="card-btn">Code Repo</a>
            </div>
        </div>
      </div>
    </div>
    </div>
    </section>

    <section class="contact-sect" id="contact-sect">
      <div class="container p-1">
        <div class="flex ">
          <div class="flex flex-col jc-c ai-c t-c">
            <div class="wrapped">
              <h3>Get in Contact</h3>
              <div class="mb-3">
                <br />
                <p>I would love to hear from you!</p>
                <br />
                <p>
                  Please feel free to reach out via the contact information
                  provided below, or you can fill out the enquiry form and I'll
                  get back to you ASAP.
                </p>
              </div>
              
                <div class="mb-3  ">
                  <i class="fas fa-mobile-alt mb-3"></i>
                  <p><strong>+ 070 1876 3672</strong></p>
                </div>
                
                <div class="mb-3  ">
                  <i class="far fa-envelope mb-3"></i>
                <p></i> <strong>jadrake95@gmail.com</strong></p>
                </div>
              
            </div>
          </div>
          <div class="flex flex-col">
            <div class="card shadow">
              <div class="form-wrapper">
                
                
                <form method="POST" action="send" class="flex flex-col jc-c ai-c">
                  <div class="mb-3">
                    <label for="name">Name:</label>
                    <i class="icon far fa-user-circle"></i>
                    <input type="text" id="name" placeholder="Name" name="name" required/>
                  </div>
                  <div class="mb-3 ">
                    <label for="email">Email:</label>
                    <i class=" icon far fa-envelope"></i>
                    <input
                      type="email"
                      id="email"
                      placeholder="address@email.com"
                      name="email"
                      required
                    />
                  </div>
                  <div class="mb-3">
                    <label for="message">Message or Enquiry:</label>
                    <textarea
                      type="text"
                      id="message"
                      placeholder="Enter your message.."
                      rows="5"
                      name="message"
                      required
                    ></textarea>
                  </div>
                  <button class="btn" type="submit">Contact Me</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class=" flex jc-c ai-c">
      All Rights Reserved &#169; Jack Drake 2021
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="js/app.js"></script>
  </body>
</html>

