@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* Margin & Padding */
.py-1 {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 1rem 0;
}

.py-3 {
  padding: 1.5rem 0;
}

.px-1 {
  padding: 0 0.5rem;
}

.px-2 {
  padding: 0 1rem;
}

.px-3 {
  padding: 0 1.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.my-1 {
  margin: 0.5rem 0;
}

.my-2 {
  margin: 1rem 0;
}

.my-3 {
  margin: 1.5rem 0;
}

.mx-1 {
  margin: 0 0.5rem;
}

.mx-2 {
  margin: 0 1rem;
}

.mx-3 {
  margin: 0 1.5rem;
}

.m-1 {
  margin: 0.5rem;
}

.m-2 {
  margin: 1rem;
}

.m-3 {
  margin: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-shrink {
  flex-shrink: 1 1 1;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: flex-start;
}

.t-c {
  text-align: center;
}

.section-title {
  margin: 1rem auto;
  font-size: 3rem;
  color: #f4f4f4;
  text-align: center;
}

.section-title--dark {
  margin: 1rem auto;
  font-size: 3rem;
  color: #333;
}

.none {
  display: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

.page-container {
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin: 2rem 0;
  grid-gap: 1rem;
}

.content-wrapper {
  max-width: 1200px;
  height: 100%;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dark-card {
  background-color: #555;
  color: #f4f4f4;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);
}

.menu-card {
  width: 80%;
  height: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: start;
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.visible {
  visibility: visible;
}

.colored {
  background: #9ad0cd;
}

.scrolled {
  background-color: #9ad0cd;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-150%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slide-in 0.5s ease-in-out forwards 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: "Poppins", sans-serif;
  color: #333;
  overflow-x: hidden;
  background-color: #f3f3f3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23f3f3f3'/%3E%3Cstop offset='1' stop-color='%239ad0cd'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

a,
li {
  text-decoration: none;
  color: #333;
  list-style-type: none;
}

.btn, .projects-sect .projects-grid .card .buttons-container .card-btn {
  padding: 0.5rem 1.75rem;
  color: #f4f4f4;
  font-size: 1rem;
  background: #555;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  border: transparent;
  cursor: pointer;
}

.btn:hover, .projects-sect .projects-grid .card .buttons-container .card-btn:hover {
  opacity: 0.9;
  transform: scaleX(0.98);
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.hide {
  display: none;
}

.active {
  display: block;
}

header {
  position: absolute;
  width: 100vw;
}

header nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(154, 208, 205, 0);
  z-index: 100;
  transition: background-color 0.6s ease-in-out;
  position: fixed;
  top: 0;
  width: 100vw;
}

header nav .logo {
  font-size: 1.5rem;
}

header nav .logo-sm {
  font-size: 1.5rem;
}

header nav li {
  font-size: large;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

header nav li:hover {
  border-bottom: 2px solid #333;
}

header nav .menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #333;
  transform-origin: 3px 1px;
  transition: all 0.3s ease-in-out;
}

header nav .menu > span:not(:last-child) {
  margin-bottom: 5px;
}

header nav .menu.open > span:first-child {
  transform: rotate(45deg);
}

header nav .menu.open > span:nth-child(2) {
  opacity: 0;
}

header nav .menu.open > span:last-child {
  transform: rotate(-45deg);
}

header nav .hidden-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 67px;
  left: 0px;
  z-index: 100;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

header nav .hidden-menu .menu-card {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

header nav .hidden-menu.active {
  visibility: visible;
  background-color: rgba(154, 208, 205, 0.4);
}

header nav .hidden-menu.active .menu-card {
  opacity: 1;
}

header nav .hidden-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80%;
}

header nav .hidden-menu ul li {
  opacity: 0;
}

header nav #hiddenSocials {
  display: none;
}

.hero {
  height: 100vh;
  width: 100%;
}

.hero__bg {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  background: url(../../images/compressed-hero.png) center center/cover;
  z-index: -2;
}

.hero .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero #hero-text {
  margin-top: 5rem;
}

.hero #hero-text h2 {
  font-size: 1.5rem;
}

.hero #hero-text h1 {
  font-size: 4rem;
}

.hero #hero-text button {
  margin-top: 1rem;
}

.social-container {
  position: fixed;
  height: 320px;
  width: 75px;
  top: 75px;
  left: 25px;
  z-index: 10;
}

.social-container > div {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-container > div .social-line {
  position: absolute;
  height: 45px;
  width: 2px;
  background-color: #333;
}

.social-container > div .social-line:nth-of-type(1) {
  top: 90px;
  z-index: -1;
}

.social-container > div .social-line:nth-of-type(2) {
  bottom: 90px;
  z-index: -1;
}

.social-container > div i {
  font-size: 65px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.social-container > div i:hover {
  transform: scale(1.05);
  color: #9ad0cd;
  cursor: pointer;
}

.about-me {
  height: auto;
  background-color: #7e93a8;
  align-items: center;
  justify-content: center;
}

.about-me__photo {
  display: flex;
  width: 50vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.about-me__info {
  display: flex;
  width: 50vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  max-width: 600px;
}

.about-me__info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.about-me__info p {
  font-size: 1rem;
}

.academics {
  height: auto;
  background: transparent;
  align-items: center;
  justify-content: center;
}

.academics .page-container > *:first-child {
  grid-row: 1 / span 2;
}

.academics h3 {
  text-decoration: underline #9ad0cd;
  font-size: 1.5rem;
}

.academics .academic-title {
  font-size: 1.25rem;
}

.academics .academic-details {
  font-size: 1rem;
  color: gray;
}

.academics .academic-description {
  font-size: 0.875rem;
}

.academics__experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.academics__experience > div {
  min-width: 500px;
  align-self: flex-start;
  padding: 1rem;
}

.academics__experience ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.academics__education, .academics__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.academics__education > div, .academics__skills > div {
  min-width: 200px;
  align-self: flex-start;
  padding: 1rem;
}

.skills-grid {
  background-color: #7e93a8;
}

.skills-grid .tech-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

.skills-grid .tech-grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.skills-grid .tech-grid div img {
  height: 150px;
  width: 150px;
  transition: all 0.3s ease-in-out;
}

.skills-grid .tech-grid div img:hover {
  transform: scale(1.075);
}

.projects-sect .projects-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem auto;
}

.projects-sect .projects-grid > div {
  display: grid;
}

.projects-sect .projects-grid > div img {
  height: 150px;
  width: 150px;
  margin: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.projects-sect .projects-grid .card {
  position: relative;
  justify-content: space-between;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.projects-sect .projects-grid .card:hover img {
  transform: scale(1.075);
}

.projects-sect .projects-grid .card p {
  max-width: 500px;
}

.projects-sect .projects-grid .card .buttons-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
}

.projects-sect .projects-grid .card .buttons-container .card-btn {
  color: #f4f4f4;
  border-radius: 1rem;
  font-size: 0.75rem;
  width: 120px;
  text-align: center;
  padding: 0.5rem 1rem;
}

.projects-sect .projects-grid .project1 {
  grid-column: 1 / span 2;
}

.projects-sect .projects-grid .project1 img {
  height: 200px;
  width: 300px;
}

.projects-sect .projects-grid .project4 {
  grid-column: 2 / span 2;
}

.contact-sect {
  background-color: #7e93a8;
}

.contact-sect .container > div {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-sect .container > div > div {
  width: 50vw;
}

.contact-sect .wrapped {
  max-width: 400px;
}

.contact-sect .wrapped h3 {
  font-size: 2rem;
}

.contact-sect .wrapped i {
  display: inline-block;
  font-size: 2rem;
  transform: translateY(25%);
  margin-right: 0.5rem;
}

.contact-sect .wrapped p {
  display: inline-block;
}

.contact-sect .wrapped p strong {
  font-size: 1rem;
}

.contact-sect .form-wrapper {
  width: 100%;
}

.contact-sect .card {
  width: 75%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1.5rem;
  margin: 2rem auto;
}

.contact-sect form div {
  width: 100%;
}

.contact-sect form label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1rem;
  color: #333;
  font-weight: 700;
}

.contact-sect form input,
.contact-sect form textarea {
  font: inherit;
  font-size: 0.75rem;
  display: block;
  border: #9ad0cd 2px solid;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
}

.contact-sect form input:focus,
.contact-sect form textarea:focus {
  outline: transparent;
}

.contact-sect form textarea {
  resize: none;
}

.contact-sect form input {
  padding-left: 3rem;
}

.contact-sect form .icon {
  font-size: 1.5rem;
  position: absolute;
  padding: 0.5rem;
  color: lightslategray;
  min-width: 50px;
  text-align: center;
}

.contact-sect form button {
  display: block;
  width: 100%;
  border-radius: 1rem;
  font-size: 0.75rem;
}

footer {
  height: 60px;
  max-width: 100vw;
  background-color: #333;
  color: #ccc;
  padding: 1rem 0;
}

.btn-pop {
  color: #555;
  background-color: #fff;
}

@media (max-width: 1260px) {
  .social-container {
    position: fixed;
    height: 280px;
    width: 50px;
    left: 15px;
  }
  .social-container > div .social-line {
    position: absolute;
    height: 40px;
    width: 2px;
    background-color: #333;
  }
  .social-container > div .social-line:nth-of-type(1) {
    top: 78px;
  }
  .social-container > div .social-line:nth-of-type(2) {
    bottom: 78px;
  }
  .social-container > div i {
    font-size: 50px;
    color: #333;
    transition: all 0.5s ease-in-out;
  }
  .social-container > div i:hover {
    transform: scale(1.05);
    color: #9ad0cd;
    cursor: pointer;
  }
}

@media (max-width: 1150px) {
  .projects-sect .projects-grid .project1 img:first-of-type {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hero #hero-text .text-wrap {
    margin-left: 3rem;
  }
  .hero #hero-text h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  #header .hidden-socials {
    display: block;
    display: flex;
  }
  #header .hidden-socials a:nth-of-type(2),
  #header .hidden-socials a:nth-of-type(3) {
    margin-left: 1rem;
  }
  #header .hidden-socials i {
    font-size: 2rem;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .container {
    flex-direction: column;
  }
  .social-container {
    display: none;
  }
  .hero__bg {
    grid-template-columns: 1fr;
  }
  .hero #hero-text .text-wrap {
    margin-left: 0;
  }
  .hero #hero-text h1 {
    font-size: 4rem;
  }
  .about-me img {
    height: 300px;
    width: 300px;
  }
  .about-me .dark-card {
    width: 80vw;
  }
  .academics .grid-container {
    max-width: 600px;
  }
  .academics .page-container {
    grid-template-columns: 1fr;
    grid-row: 1;
  }
  .academics__experience > div {
    min-width: auto;
  }
  .skills-grid .tech-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .skills-grid .tech-grid > div img {
    height: 100px;
    width: 100px;
  }
  .projects-sect .grid-container {
    max-width: 600px;
  }
  .projects-sect .projects-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .projects-sect .projects-grid .project1,
  .projects-sect .projects-grid .project3,
  .projects-sect .projects-grid .project4,
  .projects-sect .projects-grid .project5 {
    grid-column: auto;
  }
  .projects-sect .projects-grid .project1 img {
    height: 150px;
    width: 200px;
  }
  .projects-sect .projects-grid .project1 img:first-of-type {
    display: none;
  }
  .contact-sect .container > div {
    flex-direction: column;
  }
  .contact-sect .container > div > div {
    width: 100%;
  }
  .contact-sect h3 {
    margin-top: 1.5rem;
  }
  .contact-sect .card {
    margin: 1rem;
  }
}

@media (max-width: 480px) {
  .hero__bg {
    grid-template-columns: 1fr;
  }
  .hero__bg #hero-text {
    margin-top: 8rem;
  }
  .hero__bg #hero-text h1 {
    font-size: 3rem;
  }
  .hero__bg #hero-text h2 {
    font-size: 1.25rem;
  }
  .section-title,
  .section-title--dark {
    font-size: 2rem;
    margin: 1rem;
  }
  .about-me .container > div:first {
    margin-bottom: 0;
  }
  .about-me__info {
    margin-top: 0;
  }
  .about-me img {
    height: 250px;
    width: 250px;
  }
  .about-me .dark-card {
    width: 80vw;
  }
  .about-me .dark-card p {
    font-size: 1rem;
  }
  .academics .page-container {
    grid-template-columns: 1fr;
    grid-row: 1;
  }
  .academics__experience > div {
    min-width: auto;
  }
  .projects-sect .grid-container {
    padding: 0 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */